.banner {
  margin: 4rem auto 1rem auto;
  height: 9rem;
  background-image: url(../../assets/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1rem solid #bed1cf;
}
.paginate {
  margin: 2rem;
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 1rem;
  margin-bottom: 0;
}
.paginate li a {
  text-decoration: none;
  color: #000;
  font-size: 1.2rem;
}
