.sub-cates {
  display: flex;
  gap: 1.5rem;
  margin-top: 1rem;
}
.sub-cate {
  background-color: #fff;
  color: #000;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  cursor: pointer;
}
.sub-cate:hover,
.sub-cate:active {
  background-color: #000;
  color: #fff;
}

.list {
  margin-top: 1rem;
  display: flex;
  gap: 1%;
}
.item {
  flex-basis: 24%;
  border: 1px solid gainsboro;
  border-radius: 5px;
}
.item div:first-of-type {
  margin-bottom: 1rem;
}
.item div:last-of-type {
  padding: 0 0.5rem;
}
.item div img {
  width: 100%;
}

.body div:last-of-type {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  padding: 0.5rem;
  font-size: 1.4rem;
  align-items: center;

  background-size: cover;
  border-top: 1px dashed #999;
}
.stand {
  display: flex;
  align-items: center;
}
.stand:last-of-type {
  background-color: #d04848;
  padding: 0.4rem;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
}
.stand:last-of-type:hover {
  outline: 1px solid #d04848;
  color: #d04848;
  background-color: #fff;
}
