.container {
  display: flex;
  justify-content: center;
  gap: 4rem;
  flex-wrap: wrap;
  background-image: url("https://images.pexels.com/photos/3255761/pexels-photo-3255761.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1rem;
}
.center {
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
.item {
  cursor: pointer;
}
