.container {
  background-image: url("../../assets/back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem;
}

.form {
  max-width: 400px;
  margin: 5rem auto;
  padding: 1rem;
  background-color: #f2f1eb;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.form div:last-of-type {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.form div:last-of-type a {
  text-decoration: none;
  color: #000;
  text-transform: capitalize;
}
.form h2 {
  text-align: center;
  margin-bottom: 2rem;
}
.form-control {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}
.form-control label {
  font-weight: bold;
  text-transform: capitalize;
}
.form-control input {
  padding: 0.4rem;
  border: none;
  border-bottom: 1px solid gainsboro;
  border-radius: 5px;
}
.form-control input:focus {
  border: none;
  outline: none;
}
@media (max-width: 576px) {
  .form {
    margin: 9.5rem auto;
  }
}
