.container {
  margin-bottom: 3rem;
}
.form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.form input {
  border: none;
  outline: 1px solid gainsboro;
  padding: 0.4rem 1rem;
  border-radius: 10px;
}
.form select {
  border-radius: 10px;
  padding: 0.4rem;
  border: none;
  outline: 1px solid gainsboro;
}
