* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.active {
  color: #9e5168 !important;
}
.spec {
  background-color: #9e5168 !important;
  color: #fff !important;
  border-radius: 50%;
}
.nav-link {
  font-size: 1.2rem !important;
  text-transform: capitalize;
}
.nav-link:hover,
.nav-link:active {
  color: #9e5168 !important;
}
.spec:hover {
  color: #fff !important;
}
